!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width" }
    %title Friedrice
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %button.navbar-toggler{ "aria-controls" => "navTrigger", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navTrigger", "data-toggle" => "collapse" }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navTrigger
        %ul.navbar-nav
          %li.nav-item.active
            = link_to "FrideRice", root_path, class: "nav-link"
          %li.nav-item
            = link_to "About", about_path, class: "nav-link"
          - if signed_in?
            %li.nav-item
              = link_to "#{current_user.name}さん", "#", class: "nav-link"
      %button.btn.btn-primary{ "data-toggle" => "modal", "data-target" => "#addModal" } 新規追加
    .container
      = yield

.modal.fade#addModal{ "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title 最強のチャーハンの店を追加する
      .modal-content.p-2
        = form_with model: ShopSearchForm, url: search_shops_path do |f|
          = f.text_field :keyword, class: "form-control", placeholder: "店名、キーワード、地名"
          = f.submit "検索", class: "btn btn-primary mt-2"
        #search_result